body{
    background-color: lightblue;
    color: black;
    width:90%;
    margin: 0px auto 100px auto;
    border: 2px solid black;
}

main{
    margin-top: 10px;
}

#nav{
    position: sticky;
    top: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    border: 4px solid black;
    background: yellow;
}

.navItem{
    border: 2px solid black;
    padding:0.5rem;
    background-color: yellow;
}

h3, h2{
    scroll-margin-top: 45px;
}

table {
    border:1px solid black;
    overflow: scroll;
}
th {
    border:1px solid black;

}
td  {
    border:1px solid black;
}

img{
    width:120%;
    float: right;
    
}

.container{ 
    column-count: 3;
    column-gap: 100px;
    column-rule: 5px solid black;
    width: 100%;
    break-inside: avoid;
} 

.gridItem{
    display:grid;
    grid-template-columns: 380px;
}

@media (max-width: 1400px){ 
    .gridItem{
        display:grid;
        grid-template-columns: 500px;
    }
    .container{
        column-count: 2;
    }
    table{
        display: block;
    }
    h3, h2{
        scroll-margin-top: 65px;
    }
}

@media (max-width: 1250px){
    .gridItem{
        display:grid;
        grid-template-columns: 400px;
    }
}

@media (max-width: 1000px){ 
    .gridItem{
        display:grid;
        grid-template-columns: 300px;
    }
    .container{
        column-count: 2;
    }
    nav{
        display:block;
    }
    img{
        width:90%;
        float: initial;
    }
    h3, h2{
        scroll-margin-top: 240px;
    }
}

@media (max-width: 800px){ 
    .gridItem{
        display:grid;
        grid-template-columns: 400px;
    }
    .container{
        column-count: 1;
    }
    body{
        background-color: lightblue;
        color: black;
        width: 90%;
        margin: 0px auto 50px auto;
    }
}

@media (max-width: 600px){ 
    .gridItem{
        display:grid;
        grid-template-columns: 350px;
    }
}
